{% extends "index.html.twig" %}

{% block blogpostCreation %}
    <div class="container">
        <div class="row">
            <h2 class="col-xs-offset-1 col-sm m-bottom-40 m-top-50">Rédigez votre blogpost:</h2>
            <form action="" method="post" class="form-example">
                <input type="hidden" name="csrf_token" value="{{ session.csrfToken }}">
                <div class="form-group">
                    <label for="blogpost_title" class="col-xs-4 col-md-1 p-r-5 text-right">Titre: </label>
                    <input type="text" name="blogpost_title" id="blogpost_title" required />
                </div>
                <div class="form-group ">
                    <label for="blogpost_summary" class="col-xs-4 col-md-1 p-r-5 text-right">Résumé: </label>
                    <input type="text" name="blogpost_summary" id="blogpost_summary" required />
                </div>
                <div class="form-group">
                    <label for="blogpost_content" class="col-xs-4 col-md-1 p-r-5 text-right">Contenu: </label>
                    <textarea class="col" rows="3" cols="30" name="blogpost_content" id="blogpost_content" required ></textarea>
                </div>
                <div class="form-group m-bottom-40">
                    <input class="btn btn-primary col-xs-offset-4 col-md-offset-1" type="submit" value="Enregistrer" />
                </div>
            </form>
        </div>
    </div>

{% endblock %}