{% extends "index.html.twig" %}

{% block blogpostsList %}
    <section id="blog" class="blog">
        <div class="container">
            <div class="row">
                <div class="main_blog text-center ">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class=" text-center m-top-40 m-bottom-40">
                            <h1 class="m-bottom-40">Les derniers posts parus: </h1>
                            <a href="blogpost/create" class="btn btn-primary m-bottom-40">Écrire un post</a>
                            <div class="separator_auto"></div>
                        </div>
                    </div>
                    <div class="container" style="display:flex">
                        <div class="row display-flex">
                            {% for blogpost in blogposts %}
                                {{ include ('blogpostCard.html.twig',{'blogpost':blogpost})}}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="separator_auto m-top-40"></div>
                    <div>
                        <a href="blogpost/create" class="btn btn-primary m-bottom-40">Écrire un post</a>
                    </div>
                </div>
            </div><!--End off row -->
        </div><!--End off container -->
    </section><!-- End off Blog section-->
{% endblock %}