{% extends "index.html.twig" %}

{% block blogpostsList %}
    <section id="blog" class="blog">
        <div class="container">
            <div class="row">
                <div class="main_blog text-center ">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="head_title text-center m-top-40">
                            <h1 class="m-bottom-60">Les derniers posts parus: </h1>
                            <div class="separator_auto"></div>
                        </div>
                    </div>
                    {% for blogpost in blogposts %}
                        {{ include ('blogpostCard.html.twig',{'blogpost':blogpost})}}
                    {% endfor %}
                </div>
            </div><!--End off row -->
        </div><!--End off container -->
    </section><!-- End off Blog section-->
{% endblock %}