{% extends "index.html.twig" %}

{% block commentsList %}
    <p>COMMENTS LIST</p>
    {% for comment in comments %}
        {{ include ('commentCard.html.twig',{'comment':comment})}}
    {% endfor %}
{% endblock %}