{% block contactForm %}
    <p>contactForm block</p>
    <form action="contact" method="post" class="contact-form">
        <div class="contact-input">
            <label for="title">Nom: </label>
            <input type="text" name="last_name" id="mast_name" value="" required/>
        </div>
        <div class="contact-input">
            <label for="summary">Prénom: </label>
            <input type="text" name="first_name" id="first_name" value="" required/>
        </div>
        <div class="contact-input">
            <label for="content">Email:</label>
            <input type="email" name="email" id="email" value="" required/>
        </div>
        <div class="contact-input">
            <label for="content">Votre message:</label>
            <input type="text" name="message" id="message" value="" required/>
        </div>
        <div class="form-example">
            <input type="submit" value="Envoyer" />
        </div>
    </form>
{% endblock %}