{% extends "index.html.twig" %}
{% block homepage %}
    <section id="hello" class="home bg-mega">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="main_home">
                    <div class="home_text">
                        <h1 class="text-white">BIENVENUE &#128075;<br /> PARLONS PEU, PARLONS DEV!</h1>
                    </div>

                    <div class="home_btns m-top-40">
                        <a href="#main_contact" class="btn btn-primary m-top-20">CONTACT</a>
                        <a href="../public/documents/CV.pdf"
                           download="CV_Matthieu_Ortlieb" class="btn btn-default m-top-20">TELECHARGER CV</a>
                    </div>

                </div>
            </div><!--End off row-->
        </div><!--End off container -->
    </section> <!--End off Home Sections-->

    {% include 'contactForm.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="main_featured m-top-100">
                <div class="col-sm-12">
                    <div class="head_title text-center">
                        <h2>Télécharger mon CV</h2>
                        <div class="separator_auto"></div>
                        <p>&#11014; Ca c'est moi, <strong>Matthieu Ortlieb</strong></br>
                            Au delà des informations que vous pourrez trouver sur moi sur les différents
                            réseaux et si jamais vous souhaitez transmettre mon CV/ le garder précieusement, n'hésitez
                            pas
                            à cliquer sur le bouton ci dessous</p>
                        <a class="btn btn-primary m-top-20" href="../public/documents/CV.pdf"
                           download="CV_Matthieu_Ortlieb">Télécharger mon CV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="" class="testimonial fix">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="main_testimonial roomy-100">
                    <div class="m-bottom-20 text-center">
                        <h2 class="text-white">Contactez moi sur les réseaux:</h2>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 text-right">
                            <a target="_blank" href="https://www.linkedin.com/in/matthieu-ortlieb-485a6779/"><i class="fa fa-linkedin text-white" style="font-size:6em;"></i></a>
                        </div>
                        <div class="col-xs-6 text-left">
                            <a target="_blank" href="https://github.com/Ma77hieu"><i class="fa fa-github text-white" style="font-size:6em;"></i></a>
                        </div>
                    </div>


                    {#<div class="widget_socail m-top-30 text-center">
                        <ul class="list-inline">
                            <li></li>
                            <li><a href=""><i class="fa fa-github" style="font-size:10em;"></i></a></li>
                        </ul>
                    </div>#}
                </div>
            </div><!--End off row-->
        </div><!--End off container -->
    </section> <!--End off Testimonial section -->
{% endblock %}

