{% extends "index.html.twig" %}
{% block homepage %}
    <p>HOMEPAGE</p>
    {% include 'contactForm.html.twig' %}
    <a href="../public/documents/CV.pdf" download="CV_Matthieu_Ortlieb">Télécharger mon CV</a>
{% endblock %}

