{% extends "index.html.twig" %}
{% block homepage %}
    <section id="hello" class="home bg-mega">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="main_home">
                    <div class="home_text">
                        <h1 class="text-white">BIENVENUE &#128075;<br /> PARLONS PEU, PARLONS DEV!</h1>
                    </div>

                    <div class="home_btns m-top-40">
                        <a href="#main_contact" class="btn btn-primary m-top-20">CONTACT</a>
                        <a href="../public/documents/CV.pdf"
                           download="CV_Matthieu_Ortlieb" class="btn btn-default m-top-20">TELECHARGER CV</a>
                    </div>

                </div>
            </div><!--End off row-->
        </div><!--End off container -->
    </section> <!--End off Home Sections-->

    <section id="contact" class="contact bg-mega fix">
        <div class="container">
            <div class="row">
                <div class="main_contact roomy-100 text-white">
                    <div class="col-md-4">
                        <div class="rage_widget">
                            <div class="widget_head">
                                <h3 class="text-white">RAGE</h3>
                                <div class="separator_small"></div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                                quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                                ut aliquip ex ea commodo consequat. </p>

                            <div class="widget_socail m-top-30">
                                <ul class="list-inline">
                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href=""><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 sm-m-top-30">
                        <form class="" action="subcribe.php">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input id="first_name" name="first_name" type="text" placeholder="Name" class="form-control" required="">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control">
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="6" placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group text-center">
                                        <a href="" class="btn btn-primary">SEND MESSAGE</a>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div><!--End off row -->
        </div><!--End off container -->
    </section><!--End off Contact Section-->
    {% include 'contactForm.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="main_featured m-top-100">
                <div class="col-sm-12">
                    <div class="head_title text-center">
                        <h2>Télécharger mon CV</h2>
                        <div class="separator_auto"></div>
                        <p>Au delà des informations que vous pourrez trouver sur moi sur les différents
                            réseaux et si jamais vous souhaitez transmettre mon CV/ le garder précieusement, n'hésitez
                            pas
                            à cliquer sur le bouton ci dessous</p>
                        <a class="btn btn-primary m-top-20" href="../public/documents/CV.pdf"
                           download="CV_Matthieu_Ortlieb">Télécharger mon CV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
        </div>
    </div>
{% endblock %}

