<!doctype html>
<!-- initial template: https://graygrids.com/templates/rage-free-bootstrap-multipurpose-template-->
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Mon blog PHP</title>
</head>

<body>

{% if userFeedbacks | length %}
    {% block user_feedback %}
        <p>{{ userFeedbacks.text }} {{ userFeedbacks.type }}</p>
        {{ include ('userFeedback.html.twig',{'feedbacks':userFeedbacks}) }}
    {% endblock %}
{% endif %}

{% block blogpostsList %}
   {# {{ include ('blogpostsList.html.twig',{'blogposts':blogposts}) }}#}
{% endblock %}

{% block blogpostPage %}
{% endblock %}

{% block homepage %}
{% endblock %}
</body>
</html>
