{% extends "index.html.twig" %}

{% block signup %}
    <p>signup form</p>
    <form action="" method="post" class="signup-form">
        <div class="signup-input">
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" required />
        </div>
        <div class="signup-input">
            <label for="password">Mot de passe: </label>
            <input type="text" name="password" id="password" required />
        </div>
        <div class="signup-input">
            <label for="password_reentry">Répétez le mot de passe: </label>
            <input type="text" name="password_reentry" id="password_reentry" required />
        </div>
        <div class="form-example">
            <input type="submit" value="Inscription" formaction="index.php/signup" />
        </div>
    </form>
{% endblock %}