{% block userCard %}
    <p> USER CARD number {{ user.user_id }}</p>
    <p>email:{{ user.email }}</p>
    <p>roles:{{ user.roles }}</p>
    <a href="user/edit?id={{ user.user_id }}">modification</a>
{% endblock %}