
{% block user_feedback %}
    {% for feedback in userFeedbacks %}
        {#{% for message in message.type %}#}
        {% if feedback.type=='error' %}
            {% set feedback_class = 'alert alert-danger' %}
            {% set feedback_type = 'ERREUR: ' %}
        {% endif %}
        {% if feedback.type=='warning' %}
            {% set feedback_class = 'feedback_warning' %}
            {% set feedback_type = 'Attention: ' %}
        {% endif %}
        {% if feedback.type=='success' %}
            {% set feedback_class = 'alert alert-success' %}
            {% set feedback_type = 'Succès: ' %}
        {% endif %}
        {#{% endfor %}#}
    <div class="{{ feedback_class }}" role="alert"> {{ feedback_type }}{{ feedback.text }}</div>
    {% endfor %}
{% endblock %}