
{% block user_feedback %}
    {% for feedback in userFeedbacks %}
        {#{% for message in message.type %}#}
        {% if feedback.type=='error' %}
            {% set feedback_class = 'feedback_error' %}
            {% set feedback_type = 'ERREUR: ' %}
        {% endif %}
        {% if feedback.type=='warning' %}
            {% set feedback_class = 'feedback_warning' %}
            {% set feedback_type = 'Attention: ' %}
        {% endif %}
        {% if feedback.type=='success' %}
            {% set feedback_class = 'feedback_success' %}
            {% set feedback_type = 'Succès: ' %}
        {% endif %}
        {#{% endfor %}#}
    <p class="{{ feedback_class }}"> {{ feedback_type }}{{ feedback.text }}</p>
    {% endfor %}
{% endblock %}