{% extends "index.html.twig" %}

{% block usersList %}
    <section>
        <div class="container">
        <h1>Liste des utilisateurs</h1>
        <div class="row">

            {% for user in users %}
                {{ include ('userCard.html.twig',{'user':user}) }}
            {% endfor %}
        </div></div>
    </section>
{% endblock %}